.center-frame

  .board-prm.board-accordion
    .board-hdr.flex._c
      .label-box._fb.flex._c
        i.icon-title-b.fas.fa-exclamation-triangle.fa-fw.c-orange
        span: |ご登録前にお読みください。

    .board-cnt._s
      .attention-prm
        p
          |衣装情報の登録に関する注意事項です。
      ul.line-list
        li.shadow-l: |登録する衣装情報は、現時点であなたがコスプレ可能な衣装を設定してください。
        li.shadow-l: |入力した情報は、検索処理の最適化(*1)のため、一部タイトルやキャラクター名が変更される可能性があります。
        li.shadow-l: |万が一、登録した内容と異なる内容の場合は<a class="default" href="#">お問い合わせ</a>よりご一報をお願いいたします。

      p.info-text
        |(*1) 合わせ募集検索の際に、より正しい検索結果を出すための名称の変更を指します。

  .board-prm
    .board-hdr
      .label-box._fb.flex._c
        i.icon-title-b.fas.fa-database.fa-fw.c-blue
        span: |衣装登録

    #registTitle.board-cnt

      .label-input-box._mbs#box_costume_title
        .label-box
          p.main-label: |作品名
          span.sub-label: |作品名、または名称の一部を入力してください。
        .input-box._s.flex._c.st-required
          input(type="text", name="content_title", placeholder="ひなまつり")
        p.bottom-label

      .option-box.flex._jr
        span.option-btn.st-line-b(name="titleSearch")
          |検索
      
      p.st-title-tag#titleListNum
        |候補一覧 (0件)

      ul.inner_list#titleList
        li: |候補がありません
      
      .label-link.shadow-l
        a(name="openRegistTitleModal").flex._c.flex._c
          i.icon-title-b.far.fa-thumbs-up.fa-fw.c-blue
          .st-string-set
            p: |作品登録
            span.sub-text: |お探しの作品がない場合はこちら
          i.icon-link.fas.fa-chevron-right.fa-fw
      
    #registChara.board-cnt

      .option-box.flex._jr
        span.option-btn.st-line-b(name="backTitle")
          |作品選択に戻る

      .label-input-box._mbs
        .label-box
          p.main-label: |作品名
        .input-box._s.flex._c.st-readonly
          input(type="text", name="content_title_name", readonly)
          input(type="hidden", name="conf_content_title")


      p.st-title-tag
        |キャラクター候補一覧

      ul.inner_list#charaList
        li: |候補がありません
      
      .label-link.shadow-l
        a(name="openRegistCharaModal").flex._c
          i.icon-title-b.far.fa-thumbs-up.fa-fw.c-blue
          .st-string-set
            p: |キャラクター登録
            span.sub-text: |お探しのキャラクターがない場合はこちら
          i.icon-link.fas.fa-chevron-right.fa-fw

  .board-prm
    .board-hdr

      .label-box._fb.flex._c
        i.icon-title-b.fas.fa-tshirt.fa-fw.c-green
        span: |所持衣装一覧

    .board-cnt
      
