.center-frame
  .board-prm
    .board-hdr

      .label-box._fb.flex._c
        i.icon-title-b.far.fa-images.fa-fw.c-green
        span: |サンプル写真設定

    .board-cnt
      a sample_image

    .board-ftr._s.flex._c._jc
      button.btn-prm.st-back-b.shadow-l
        span: |変更する
