- const di = recruit_item.date_info;
.floor-prm
  .floor-hdr._s._bb
    .label-box.flex._c
      //- i.icon-title-b.far.fa-calendar
      span.st-title-day: |#{di.week}
      span.st-title-date: |#{di.year}年#{di.month}月#{di.day}日
      
