-
  var user_id = self.userId;
  var user_type = self.userType;
  var header_data = self.headerData;
  var body_data = self.bodyData;
  var backBtn = self.backBtn;
  var main_logo = `/image/c2logo.svg`;

  console.log("*******************************************************************");
  console.log(`######## user id : ${user_id} | user type : ${user_type} ##########`);
  console.log(`content id -> : ${self.contentId}`);
  console.log("header data -> :");
  console.log(header_data);
  console.log("body data -> :");
  console.log(body_data);
  console.log("*******************************************************************");

  var sc_menu_list = [
    {name: "予定の管理",               id:"schedule",        type:"2"},
    {name: "募集の管理",               id:"schedule",        type:"1"},
    {name: "レビューの管理",           id:"review",          type:""},
    {name: "マッチングの管理",         id:"matching",        type:""},
    {name: "ユーザー情報設定",         id:"profile",         type:""},
    {name: "サイト設定",               id:"site",            type:""},
    {name: "所持機材設定",             id:"equipment",       type:"2"},
    {name: "所持コスプレ衣装設定",     id:"costume",         type:"1"},
    {name: "サンプル写真設定",         id:"sample_image",    type:""},
    {name: "外部サービス連携設定",     id:"ext_service",     type:""},
    {name: "運営情報",                 id:"admin_info",      type:""},
    {name: "プライバシーポリシー",     id:"privacy_policy",  type:""},
    {name: "利用者様のデータについて", id:"about_user_data", type:""},
    {name: "お問い合わせ",             id:"contact",         type:""},
  ];

  var gnav_menu_list = [
    {name:'当日',       id: "recruitToday",  icon_css:"far fa-clock",    href:"/recruitlist/today"},
    {name:'一覧',       id: "recruit",       icon_css:"far fa-calendar", href:"/recruitlist/every"},
    {name:'あわせ募集', id: "cosgroup",      icon_css:"fas fa-users",    href:"/cosgroup"},
    {name:'マイページ', id: "mypage",        icon_css:"far fa-user",     href:"/mypage"},
    {name:'メッセージ', id: "message",       icon_css:"far fa-comments", href:"/message"},
  ]

  var viewMsg = {
    v00001: "半角英字と数字を含む8～32文字を入力してください。",
    v00002: "＠を含むメールアドレスを入力してください。",
    v00003: "c2link内で、コスプレイヤーとして活動する場合は「コスプレイヤー」を選択してください。<br /> カメラマンとして活動する場合は「カメラマン」を選択してください。",
    v00004: "ユーザーIDがわからない場合は、メールアドレスを使用することもできます。",
    v00005: "あなたが行くことのできる都道府県を設定してください。",
    v00006: "ここで追加したタグはスケジュール作成時に最初から追加されます。<br />よく使うタグを設定してください。",
    v00007: "募集詳細画面のヘッダーのカバーとして使用される画像を変更します。",
    v00008: "チェックをつけると、あなたの公開したスケジュールがブックマークされた時に、お知らせとして通知します。",
    v00009: "機材のメーカー名を入力してください。<br />「その他」を選択した場合は、任意のメーカー名を入力してください。",
    v00010: "機材の名称を入力してください。<br />可能な限り正式な名称を使用することを推奨しています。",
    v00011: "当日行える撮影を設定してください。",
    v00012: "開催地を入力する場合は、建物の名称、またはその場所の名称を入力してください。",
    v00013: "チェックをつけると、コスプレイヤーが撮影を依頼できるようになります。<br />あなたの予定として作成する場合はチェックを外してください。",
    v00014: "検索結果に含めたい都道府県を設定してください。",
    v00015: "検索結果に含めたいタグのキーワードを入力してください。<br />キーワードを半角スペースで区切ると、複数のキーワードとして検索をします。",
    v00016: "検索結果に含めたい撮影タイプを設定してください。",
    v00017: "当日行う撮影を設定してください。",
    v00018: "撮影を行う都道府県を設定してください。",
    v00019: "当日コスプレする衣装を設定してください。",
    v00020: "当日募集するカメラマンの人数を入力してください。<br />また、1～2人など募集人数が曖昧な場合は、最大人数を入力してください。",
    v00021: "当日募集するカメラマンが負担する費用などを入力してください。<br />イベント参加費、スタジオレンタル費など",
    v00022: "イベントや撮影場所などのHPのリンクアドレスを入力してください。",
    v00023: "チェックをつけると、スケジュールが公開されカメラマンが募集に応募できるようになります。<br />あなたの予定として作成する場合はチェックを外してください。",
    v00024: "作品名、またはその名称の一部を入力してください。",
    v00025: "作品の正式名称を入力してください。<br />公式サイト等のタイトルを参照することをお勧めしています。",
    v00026: "作品にサブタイトルがある場合は入力してください。",
    v00027: "作品に略称がある場合は入力してください。<br />複数ある場合は半角スペースで略称を区切ると設定できます。",
    v00028: "作品に登場するキャラクター名を入力してください。<br />公式サイト等の名称を参照することをお勧めしています。",
  }
-
