extends ../../layout/index
block header
  include ../../header/general.pug

block modal
  include ../../modal/recruitSearch.pug
  include ../../modal/recruitDetail.pug
  

block content
  include ../../content/recruitlist/recruitlist.pug