extends ../../layout/index
block header
  include ../../header/general.jade

block modal
  include ../../modal/notice.jade
  include ../../modal/recruitSearch.jade
  include ../../modal/recruitDetail.jade
  

block content
  include ../../content/recruitlist/recruitlist.jade