

extends ../../layout/index
block header
  include ../../header/general.pug

block modal
  include ../../modal/registTitle.pug
  include ../../modal/registChara.pug
  include ../../modal/confirmRegistCostume.pug

block content
  include ../../content/mypage/costume.pug


