extends ../../layout/index
block header
  include ../../header/general.jade

block modal
  include ../../modal/notice.jade
  include ../../modal/delete.jade
  include ../../modal/logout.jade

block content
  include ../../content/mypage/mypage.jade


