extends ../../layout/index
block header
  include ../../header/general.pug

block modal
  include ../../modal/tagGenerator.pug
  -if(self.userType == "1")
    include ../../modal/createCosSchedule.pug
    include ../../modal/charaSearch.pug
  -else
    include ../../modal/createCamSchedule.pug

block content
  include ../../content/mypage/schedule/schedule.pug


