header
  .hdr-cntnr

    .hdr-menu
      .cntnr-balancer
        //-title
        .hdr-title.flex._c
          .hdr-logo-icon
            img
          h1: |#{self.title}
          span#closeBtn
            i.icon_close.fas.fa-times
