a(href="./test/cam/u"): |ユーザーのみ
a(href="./test/cam/s"): |スケジュール
a(href="./test/cam/m"): |マッチング
a(href="./test/cam/r"): |レビュー

header
  .hdr-cntnr#register_bg_i_size
    .hdr-Gradation
    .cntnr-balancer
      .logo.flex._c._jc
        img(src="/image/logo_test.svg", alt="").logo-type
      .catchcopy
        p: |もっと気軽に、もっと安全に
      .description
        p: |c2 Link(シーツーリンク)は
          br
          |「もっと気軽に、もっと安全に」を
          br
          |コンセプトに撮影にかかわるすべての人の
          br
          |コラボレーションをサポートします。
      .collaborator
        p: |モデル協力 ことねこ様 / 撮影協力 〇〇様
