- const equipmentListArr = self.bodyData.rows

.board-hdr

  .label-box._fb.flex._c
    i.icon-title-b.fas.fa-tshirt.fa-fw.c-green
    span: |所持機材一覧

.board-cnt.list-board
  if(equipmentListArr && equipmentListArr.length)
    ul.st_options#has_equipment_list
      - for (let el of equipmentListArr)
        li.label-icon-link
          .link-wrap.flex._c
            .st-string-set
              span.sub-text: |#{el.equipment_type.name} / #{el.maker_type.name} #{el.maker_type.maker_name}
              p: |#{el.equipment_name}
            i.icon-link.fas.fa-trash-alt.fa-fw.c-red
  
  else
    .no_list_box
      p: |所持機材はありません。
