extends ../layout/index
block header
  include ../header/register.pug

block modal
  include ../modal/login.pug
  include ../modal/introduction.pug

block content
  include ../content/register/register.pug