doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width,user-scalable=no,initial-scale=1.0')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css")
    script(src="bundle.js")
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  body
    .wrapper.profile-ptn
      header.bgImage
        //-header
        .hdr-cntnr.cntnr-balancer
            .hdr-menu
              //-title
              //- .hdr-title.flex._c
              //-   i.icon-menu.far.fa-user.fa-fw
              //-   h1: |コンテンツ1
              //-   span.hvr-back-blue: i.icon-menu.fas.fa-bars.fa-fw
              //-navigation
              //-nav
                ul.hdr-g-nav
                  - for (let i=0;i<5;i++){
                      li.flex._c.hvr-back-blue
                        i.icon-menu.far.fa-clock.fa-fw
                        p: |コンテンツ
                        span: i.icon-menu.fas.fa-chevron-right.fa-fw
                  - }
            //-.hdr-controll

      //- content
      .main-cntnr
        .center-frame

          .board-prm
            .board-hdr
              .label-box.flex._c
                i.icon-title.fas.fa-bullhorn.fa-fw
                span: |テストタイトル
            .board-cnt
            
          .board-prm
            .board-hdr
              .label-box.flex._c
                i.icon-title.fas.fa-bullhorn.fa-fw
                span: |テストタイトル
            .board-cnt

            
      footer
        .ftr-cntnr
          .ftr-cnt
            p &copy; 2018 Fujitu Cloud tecnology


