#charaSearchModal(data-modal="hide")
  form(method="post", action="", name="charaSearchForm")

    .board-prm

      .board-hdr
        .label-box._fb.flex._c
          i.icon-title-b.fas.fa-database.fa-fw.c-blue
          span: |コスプレ衣装登録

      include  ../content/mypage/costume/costumeInput.pug