#confirmRegistCostumeModal(data-modal="hide")
  form(method="post", action="", name="confirmRegistCostumeForm")

    .board-prm
      .board-cnt._s
        .attention-prm
          p: |登録項目を確認してください。

        .label-input-box._mbs
          .label-box
            p.main-label: |作品名
          .input-box._s.flex._c.st-readonly
            input(type="text", name="content_title_name", readonly)
            input(type="hidden", name="conf_content_title")
        
        .label-input-box._mbs
          .label-box
            p.main-label: |キャラクター
          .input-box._s.flex._c.st-readonly
            input(type="text", name="content_chara_name", readonly)
            input(type="hidden", name="conf_content_chara")

        .label-input-box#box_costume_comment
          .label-box
            p.main-label: |メモ
            span.sub-text: |コスチュームに補足などあれば入力してください。
          .textarea-box._s.flex._c
            textarea(name="costume_comment", rows="5")
          p.bottom-label

      .board-ftr._s.flex._c._jc.proc-board
        button(type="submit", name="doPostCostume", data-proc="create").btn-prm.st-back-b.shadow-l.proc-btn
          |登録
        button(type="submit", name="doPutCostume", data-proc="edit").btn-prm.st-back-b.shadow-l.proc-btn
          |編集
