#editReviewModal(data-modal="hide")
  form(method="post", action="", name="reviewForm")

    .board-prm
      .board-cnt
        .attention-prm
          p: |テストユーザーさんにレビューをします。

        .label-input-box#box_type
            .label-box
              p.main-label: |レビュー
            .radio-box._s.flex._c._jc
              .radio-set
                input(type="radio", id="good", name="type", value="good")
                label(for="good").btn-prm.st-line-bl.shadow-l.st-mr
                  i.icon-title-b.far.fa-thumbs-up.fa-fw.c-blue
                  |GOOD!!
              .radio-set
                input(type="radio", id="bad", name="type", value="bad")
                label(for="bad").btn-prm.st-line-bl.shadow-l
                  i.icon-title-b.far.fa-thumbs-down.fa-fw.c-purple
                  |BAD...
            p.bottom-label

        .label-input-box#box_remarks
          .label-box
            p.main-label: |コメント
            span.sub-text: |BAD...の時は必須入力です。
          .textarea-box._s.flex._c
            textarea(name="remarks", rows="5")
          p.bottom-label

      .board-ftr._s.flex._c._jc
        button(type="submit", name="doPost").btn-prm.st-back-b.shadow-l
          |登録
