#editProfileIconModal.login-ptm(data-modal="hide")
  form(method="post", action="", name="editProfileIconForm")

    .board-prm
      .board-hdr
        .label-box._fb.flex._c
          i.icon-title-b.far.fa-bell.fa-fw.c-glay
          span: |アイコンの修正
      
      .board-cnt._s

      .board-ftr._s