

#editProfileIconModal.login-ptm(data-modal="hide")
  form(method="post", action="", name="editProfileIconForm")

    .board-prm
      .board-hdr
        .label-box._fb.flex._c
          i.icon-title-b.far.fa-bell.fa-fw.c-glay
          span: |アイコンの修正
      
      .board-cnt._s
        <div id="getData">Get Data</div>
        <br><br>
          <div class="container">
            <!-- bladeテンプレートを使用していれば asset()や url() 関数が使えます -->
            <div>
              <img id="image" src="/image/icon2.png">
            </div>
        </div>

      .board-ftr._s