.board-prm

  .board-hdr
    .label-box._fb.flex._c
      i.icon-title-b.fas.fa-question-circle.fa-fw.c-blue
      span: |ヘルプ

  .board-cnt._s

    .attention-prm
      p: |関連する項目をクリック、またはタップすると内容を閲覧することができます。

    .accordion-prm.inline.shadow-l

      .accordion-label.flex._c
        .accordion-title
          p: |会員登録について

      .accordion-cnt._s
        p.help-q.shadow-l: |ユーザータイプは登録後に変えられますか？
        p.help-a.shadow-l: |変えることはできません。

        p.help-q.shadow-l: |「このメールアドレスは使用できません。」と表示されます。
        p.help-a.shadow-l: |ご利用のメールアドレスを再度ご確認ください。また、既にc2linkで利用しているメールアドレスは使用できません。
    
    .accordion-prm.inline.shadow-l

      .accordion-label.flex._c
        .accordion-title
          p: |ログインについて

      .accordion-cnt._s
        p.help-q.shadow-l: |パスワードを忘れました。
        p.help-a.shadow-l: |ログイン画面下部の「パスワードを忘れた場合」から、パスワードの再設定を行うことができます。<br />再設定にはc2linkに登録したメールアドレスが必要です。

        p.help-q.shadow-l: |ユーザーIDを忘れました。
        p.help-a.shadow-l: |ログイン画面下部の「ユーザーIDを忘れた場合」から、ユーザーIDの復旧処理を行うことができます。<br />復旧にはc2linkに登録したメールアドレスが必要です。

        p.help-q.shadow-l: |メールアドレスを忘れました。
        p.help-a.shadow-l: |ログイン画面下部の「メールアドレスを忘れた場合」から、メールアドレスの復旧処理を行うことができます。<br />復旧にはユーザーIDが必要です。

        p.help-q.shadow-l: |ログイン情報をすべて忘れました。
        p.help-a.shadow-l: |お問い合わせのお問い合わせ種別から「アカウントの復旧」を選択し、送信してください。<br />運営から利用内容をお聞きした後に、復旧対応を行います。

    .accordion-prm.inline.shadow-l

      .accordion-label.flex._c
        .accordion-title
          p: |会員情報について

      .accordion-cnt._s

        p.help-q.shadow-l: |退会したいです。
        p.help-a.shadow-l: |「プロフィール編集」画面のページ下部にある「アカウント削除」から行うことができます。

        p.help-q.shadow-l: |退会したのにログインできます。
        p.help-a.shadow-l: |c2linkでは、退会処理後7日間を復帰猶予期間としています。<br />この期間中に一度でもログインをすると、退会処理は中断されます。

    .accordion-prm.inline.shadow-l

      .accordion-label.flex._c
        .accordion-title
          p: |スケジュールについて

      .accordion-cnt._s

        p.help-q.shadow-l: |スケジュールを削除できません。
        p.help-a.shadow-l: |過去のスケジュール、またはマッチングが成立しているスケジュールを削除することはできません。
    
    .accordion-prm.inline.shadow-l

      .accordion-label.flex._c
        .accordion-title
          p: |応募について

      .accordion-cnt._s

        p.help-q.shadow-l: |レビューを削除したいです。
        p.help-a.shadow-l: |c2linkでは、システム上必ずレビューを行っていただくようになっています。そのため、一度行ったを削除(未レビュー)することはできません。
    
    .accordion-prm.inline.shadow-l

      .accordion-label.flex._c
        .accordion-title
          p: |依頼について

      .accordion-cnt._s

        p.help-q.shadow-l: |レビューを削除したいです。
        p.help-a.shadow-l: |c2linkでは、システム上必ずレビューを行っていただくようになっています。そのため、一度行ったを削除(未レビュー)することはできません。

    .accordion-prm.inline.shadow-l

      .accordion-label.flex._c
        .accordion-title
          p: |マッチングについて

      .accordion-cnt._s

        p.help-q.shadow-l: |レビューを削除したいです。
        p.help-a.shadow-l: |c2linkでは、システム上必ずレビューを行っていただくようになっています。そのため、一度行ったを削除(未レビュー)することはできません。

    .accordion-prm.inline.shadow-l

      .accordion-label.flex._c
        .accordion-title
          p: |レビューについて

      .accordion-cnt._s

        p.help-q.shadow-l: |レビューを削除したいです。
        p.help-a.shadow-l: |c2linkでは、システム上必ずレビューを行っていただくようになっています。そのため、一度行ったをレビューを削除(未レビュー)することはできません。




  .board-ftr._s.flex._c._jc.proc-board
    button(name="doCloseModal").btn-prm.st-back-b.shadow-l
      |閉じる
