#recruitDetailModal(data-modal="hide")
  form(method="post", action="", name="recruitDetailForm", class="recruitdetail-ptn st-radius")

    .board-prm.ena-btm-margin

      .board-cnt._n

        .bgImage.st-radius-top
          .hdr-Gradation
          .hdr-cntnr
            .hdr-cnt-wrap
              .hdr-cnt-box.flex._c
                .hdr-user-data
                  .user-name
                    span(data-dummytag="input", data-name="user_name")
                  .review-wrap.flex._c
                    i.icon-title.far.fa-thumbs-up.fa-fw.c-green
                    span.mr(data-dummytag="input", data-name="good_review_num")
                    i.icon-title.far.fa-thumbs-down.fa-fw.c-purple
                    span(data-dummytag="input", data-name="bad_review_num")
                if self.contentId == "recruit"
                  .recuit-btn-wrap
                    button(type="submit", name="doPostRequest", data-schedule_id="").btn-prm.btn-link.st-line-w.shadow-l
                      case Number(self.userType)
                        when 1
                          |依頼する
                        when 2
                          |応募する

        .main-cntnr
          .center-frame

            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.far.fa-clock.fa-fw.c-blue
                  span: |日付
              .board-cnt
                .label-box
                  span(data-dummytag="input", data-name="date_key")

            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.fas.fa-camera.fa-fw.c-blue
                  span: |撮影タイプ
              .board-cnt
                .label-box
                  span(data-dummytag="input", data-name="shot_type")

            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.far.fa-flag.fa-fw.c-blue
                  span: |イベント名 or 開催地域
              .board-cnt
                span(data-dummytag="input", data-name="event_name")
                
              .board-ftr._s
                .label-box._fb.flex._c
                  i.icon-title.fas.fa-link.fa-fw.c-blue
                  span: |詳細URL
              .board-ftr
                a(target="_blank", data-dummytag="input", data-name="event_url")

            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.fas.fa-map-marker-alt.fa-fw.c-blue
                  span: |開催地
              .board-cnt
                .label-box
                  #prefectures_box.deco-label


            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.far.fa-images.fa-fw.c-blue
                  span: |サンプル写真
              .board-cnt.js-slickBtn
                .my-slick
                  div: |test
                  div: |test
                  div: |test

            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.far.fa-thumbs-up.fa-fw.c-blue
                  span: |レビュー評価
              .board-cnt._s
                .group-wrap
                  #review_box.review-wrap

            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.fas.fa-tag.fa-fw.c-blue
                  span: |タグ一覧
              .board-cnt
                .label-box
                  #tag_box.deco-label

            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.fas.fa-clipboard-list.fa-fw.c-blue
                  span: |備考
              .board-cnt
                span(data-dummytag="input", data-name="remarks")
