#registTitleModal(data-modal="hide")
  form(method="post", action="", name="registTitleForm")

    .board-prm

      .board-hdr
        .label-box._fb.flex._c
          i.icon-title-b.fas.fa-database.fa-fw.c-blue
          span: |作品登録

      .board-cnt._s
        .attention-prm
          p
            span.st-required(style="display:inline-block;")
              |&emsp;&emsp;&emsp;
            |&nbsp;は必須項目です。

        .label-input-box#box_content_title
          .label-box.icon_tip._edit.help-tip(data-help_text=viewMsg.v00025)
            p.main-label: |作品名
          .input-box.flex._c.st-required
            input(type="text", name="content_title", maxlength=256)
          p.bottom-label

        .label-input-box#box_content_sub_title
          .label-box.icon_tip._edit.help-tip(data-help_text=viewMsg.v00026)
            p.main-label: |サブタイトル
          .input-box.flex._c
            input(type="text", name="content_sub_title", maxlength=256)
          p.bottom-label
        
        .label-input-box#box_content_abbreviation
          .label-box.icon_tip._edit.help-tip(data-help_text=viewMsg.v00027)
            p.main-label: |略称名
          .input-box.flex._c
            input(type="text", name="content_abbreviation", maxlength=256)
          p.bottom-label
        
        .accordion-prm.inline.shadow-l.content-space-top

          .accordion-label.flex._c
            .accordion-title
              p: |登録時の注意事項
          .accordion-cnt._s
            p: |あああああああああああああああ

        .label-input-box#box_consent_regist_title
          .label-box
            p.main-label: |<span class="c-red">※必ず上記をお読みください。</span>
          .check-box.flex._c
            input(id="consentRegistTitle" type="checkbox" name="consent_regist_title")
            label(for="consentRegistTitle")
              |確認の上、同意します。
          p.bottom-label

      .board-ftr._s.flex._c._jc.proc-board
        button(type="submit", name="doPostRegistTitle").btn-prm.st-back-b.shadow-l
          |登録
