#registCharaModal(data-modal="hide")
  form(method="post", action="", name="registCharaForm")

    .board-prm
      .board-cnt._s
        .attention-prm
          p
            span.st-required(style="border-radius:5px;display: inline-block;")
              |&emsp;&emsp;&emsp;
            |&nbsp;は必須項目です。

        .label-input-box
          .label-box
            p.main-label: |作品名
          .input-box.flex._c.st-readonly
            input(type="text", name="content_title_name", readonly)
            input(type="hidden", name="conf_content_title")

        .label-input-box#box_content_chara
          .label-box
            p.main-label: |キャラクター名
            span.sub-label: |作品に登場するキャラクター名を入力してください。
          .input-box.flex._c.st-required
            input(type="text", name="content_chara", placeholder="新田 ひな")
          p.bottom-label
        
        .accordion-prm.inline.shadow-l.content-space-top
          .accordion-label.flex._c
            .accordion-title
              p: |登録時の注意事項
          .accordion-cnt._s
            p: |あああああああああああああああ

        .label-input-box#box_consent_regist_chara
          .label-box
            p.main-label: |<span class="c-red">※必ず上記をお読みください。</span>
          .check-box.flex._c
            input(id="consentRegistChara" type="checkbox" name="consent_regist_chara")
            label(for="consentRegistChara")
              |確認の上、同意します。
          p.bottom-label

      .board-ftr._s.flex._c._jc.proc-board
        button(type="submit", name="doPostRegistChara").btn-prm.st-back-b.shadow-l
          |登録
