@charset "UTF-8";
// 固定カラー
$greenL:#1abc9c;
$greenD:#16a085;
$greenblueL:#2ecc71;
$greenblueD:#27ae60;
$blueL:#3498db;
$blueD:#2980b9;
$blueBD:#036eb8;
$purpleL:#9b59b6;
$purpleD:#8e44ad;
$blackL:#34495e;
$blackD:#2c3e50;
$yellowL:#f1c40f;
$yellowD:#f39c12;
$orangeL:#e67e22;
$orangeD:#d35400;
$redLW:#ff3e29;
$redL:#e74c3c;
$redD:#c0392b;
$grayLW:#f7f7f7;
$grayL:#bdc3c7;
$grayD:#95a5a6;
$grayDW:#7f8c8d;
$white:#fff;
$black:#000;
$twitter:#00aced;

// =
$transparent: rgba(255,255,255,0.0);
// =
$white-opcity-30:rgba(255,255,255,0.3);
$white-opcity-50:rgba(255,255,255,0.5);
$white-opcity-70:rgba(255,255,255,0.7);
$white-opcity-90:rgba(255,255,255,0.9);
// =
$blackD-opcity-70:rgba(44,62,80,0.7);
$blackD-opcity-30:rgba(44,62,80,0.3);
// =
$black-opcity-80:rgba(0,0,0,0.8);
$black-opcity-30:rgba(0,0,0,0.3);
// =
$blueBD-opcity-60:rgba(3,110,184,0.6);
// =
$blueL-opcity-80:rgba(52,152,219,0.8);
$blueL-opcity-40:rgba(52,152,219,0.4);
$blueL-opcity-30:rgba(52,152,219,0.3);
$blueL-opcity-20:rgba(52,152,219,0.2);
$blueL-opcity-10:rgba(52,152,219,0.1);
// =
$grayD-opcity-50:rgba(149,165,166,0.5);
// =
$blueDopcity-60:rgba(41,128,185,0.6);
// =
$redL-opcity-20:rgba(231,76,60,0.2);
// =
$redD-opcity-40:rgb(255, 179, 170);
// =
$yellowD-opacity-30:rgba(241, 196, 15, 0.3);
// =
$greenblueD-opacity-20:rgba(39, 174, 96, 0.4);

