#registTitle.board-cnt._s
  .attention-prm
      p
        span.st-required(style="display:inline-block;")
          |&emsp;&emsp;&emsp;
        |&nbsp;は必須項目です。


  form(method="post", name="searchCharaForm")
    .label-input-box#box_keyword
      
      .label-box.icon_tip._edit.help-tip(data-help_text=viewMsg.v00024)
        p.main-label: |キャラクターを探す

      .radio-box._s.flex._c
          input(type="radio", id="forTitle", name="search_type", value="1", checked)
          label(for="forTitle") 作品名
          input(type="radio", id="fotChara", name="search_type", value="2")
          label(for="fotChara") キャラクター名

      .input-box.flex._c.st-required
        input(type="text", name="keyword", maxlength=50, placeholder="キーワードを入力してください。")
      p.bottom-label

      .option-box.flex._jr
        span.option-btn.st-line-b(name="search_chara_keyword_btn")
          |検索
    
  p.st-title-tag#countCharaList
    |候補一覧

  ul#charaList.inner-rich-list