- const costumelistArr = self.bodyData.rows

.board-hdr

  .label-box._fb.flex._c
    i.icon-title-b.fas.fa-tshirt.fa-fw.c-green
    span: |所持コスプレ衣装一覧

.board-cnt.list-board
  if(costumelistArr && costumelistArr.length)
    ul.st_options#has_coutume_list
      - for (let cl of costumelistArr)
        li.label-icon-link
          .link-wrap.flex._c
            .st-string-set
              span.sub-text: |#{cl.title}
              p: |#{cl.chara}
              input(type="hidden", name="has_chara_item", data-costume_id=cl.costume_id data-title=cl.title, data-chara=cl.chara)
            i.icon-link.fas.fa-chevron-right.fa-fw
  
  else
    .no_list_box
      p: |所持コスプレ衣装はありません。
      
