.center-frame
  .board-prm
    .board-hdr

      .label-box._fb.flex._c
        i.icon-title-b.far.fa-user-circle.fa-fw.c-glay
        span: |利用者様のデータについて

    .board-cnt
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
