.center-frame
  .board-prm
    .board-hdr

      .label-box._fb.flex._c
        i.icon-title-b.fas.fa-link.fa-fw.c-red
        span: |運営情報

    .board-cnt
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      
