.center-frame
  .board-prm
    .board-hdr

      .label-box._fb.flex._c
        i.icon-title-b.far.fa-address-card.fa-fw.c-glay
        span: |運営情報

    .board-cnt
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      
