.center-frame
  .board-prm
    .board-hdr

      .label-box._fb.flex._c
        i.icon-title-b.fas.fa-link.fa-fw.c-red
        span: |運営情報

    .board-cnt
      a sample_image

    .board-ftr._s.flex._c._jc
      button.btn-prm.st-back-b.shadow-l
        span: |変更する
