.center-frame
  .board-prm
    .board-hdr

      .label-box._fb.flex._c
        i.icon-title-b.fas.fa-lock.fa-fw.c-glay
        span: |プライバシーポリシー

    .board-cnt
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
      p
        |テストテストテストテストテストテストテストテスト
