extends ../layout/frame

block content
  form(method="post")
    ul
      li
        a 日付:
        input(type="date" name="start_date")

      li
        a 開始:
        input(type="time" name="time_from")
        a 終了:
        input(type="time" name="time_to")

      li
        a 撮影タイプ:
        select(name="phototype")
          option(value="1") イベント
          option(value="2") 個人撮影
          option(value="3") ポートレート

      li
        a イベント名or建物名:
        input(name="eventname")

      li
        a 開催場所
        select(name="prefecture")
          option(value="1") 東京
          option(value="2") 神奈川
        input(name="placetext")

      li
        a コスプレキャラクター
        input(type="input" name="coschara")

      li
        button(type="submit")
